<section id="service" class="wrapper service background-grey">
    <div class="container">
        <h2>Livraison à partir de 7€ sur Marseille</h2>
        <p>1<sup>er</sup> / 4<sup>eme</sup> /  5<sup>eme</sup> / 6<sup>eme</sup> / 10<sup>eme</sup> / 11<sup>eme</sup> arrondissement</p>
        <p>Moyens de paiement acceptés : chèque, espèce, ticket restaurant</p>
        <div class="cards">
            <div class="card">
                <i class="icon rounded background-blue fas fa-utensils"></i>
                <h3>Formule burger + boisson 5€</h3>
                <p class="detail">Hamburger et boisson</p>
            </div>
            <div class="card">
                <i class="icon rounded background-pink fas fa-utensils"></i>
                <h3>3 Pizzas achetées, la 4<sup>eme</sup> offerte</h3>
                <p class="detail">Fromage ou anchois ou 1 boisson offerte</p>
            </div>
        </div>
        <a class="red-button" href="carte.php">Voir la carte</a>
    </div>
</section>